<!DOCTYPE html>

<html>
  <head>
  <meta charset = "utf-8">
  <title>Some website</title>
  </head>

  <body>
    {{> header}}
      <p>{{screamIt welcomeMessage}}</p>
      <p>This is my name {{name}}</p>
      <p> This is what I like {{likes}}</p>
  </body>

  {{> footer}}

</html>
